body
{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    justify-content: center;
    background-color: black;
}

.image-container
    {
        width: 200px;
        height: 200px;
        transform-style: preserve-3d;
        transform: perspective(1000px) rotateY(0deg);
        transition: transform 0.7s;
        position: relative;
    }